<template>
	<div>
		<h2 class="head-text"><span>Contact</span></h2>

		<div class="app__footer-cards">
			<div class="app__footer-card">
				<img :src="images.email" alt="email" />
				<a :href="'mailto:' + email" class="p-text">{{ email }}</a>
			</div>
			<div class="app__footer-card">
				<img :src="images.mobile" alt="phone" />
				<a :href="'tel:' + phone" class="p-text">{{ phone }}</a>
			</div>
		</div>

		<div v-if="!isFormSubmitted">
			<div class="app__footer-form app__flex">
				<div class="app__flex">
					<input
						v-model="formData.name"
						class="p-text"
						type="text"
						:placeholder="namePlaceholder"
						name="name"
						@input="validateField('name', $event.target.value)"
					/>
				</div>
				<div class="app__flex">
					<input
						v-model="formData.email"
						class="p-text"
						type="email"
						:placeholder="emailPlaceholder"
						name="email"
						@input="validateField('email', $event.target.value)"
					/>
				</div>
				<div>
					<textarea
						v-model="formData.message"
						class="p-text"
						:placeholder="messagePlaceholder"
						name="message"
						@input="validateField('message', $event.target.value)"
					></textarea>
					<div v-if="formErrors.name" class="error-message">
						{{ formErrors.name }}
					</div>
					<div v-if="formErrors.email" class="error-message">
						{{ formErrors.email }}
					</div>
					<div v-if="formErrors.message" class="error-message">
						{{ formErrors.message }}
					</div>
				</div>
				<button
					type="button"
					class="p-text"
					:disabled="
						loading ||
						formErrors.name ||
						formErrors.email ||
						formErrors.message
					"
					:class="{
						disabled:
							formErrors.name ||
							formErrors.email ||
							formErrors.message,
					}"
					@click="submitForm"
				>
					{{ loading ? sending : sendMessage }}
				</button>
			</div>
		</div>
		<div v-else>
			<div>
				<h3 class="head-text no-capitalization">
					{{ $t('contact.thanks') }}
				</h3>
			</div>
		</div>
	</div>
</template>

<script>
import { images } from '../../constants';
import { client } from '../../client';

export default {
	name: 'footer-comp',
	data() {
		return {
			images: images,
			email: 'a.doucoure@ymail.com',
			phone: '+33650038588',
			isFormSubmitted: false,
			loading: false,
			formErrors: {},
			formData: {
				name: '',
				email: '',
				message: '',
			},
		};
	},
	computed: {
		namePlaceholder() {
			return this.$i18n.messages[this.$i18n.locale].contact
				.namePlaceholder;
		},
		emailPlaceholder() {
			return this.$i18n.messages[this.$i18n.locale].contact
				.emailPlaceholder;
		},
		messagePlaceholder() {
			return this.$i18n.messages[this.$i18n.locale].contact
				.messagePlaceholder;
		},
		sending() {
			return this.$i18n.messages[this.$i18n.locale].contact.btnText1;
		},
		sendMessage() {
			return this.$i18n.messages[this.$i18n.locale].contact.btnText2;
		},
	},
	watch: {
		'$i18n.locale'(newVal, oldVal) {
			if (newVal !== oldVal) {
				if (this.formErrors?.name) {
					this.formErrors.name = this.$t(
						'contact.formErrors.nameRequired'
					);
				}
				if (this.formErrors?.email) {
					if (
						!this.isValidEmail(this.formData.email) &&
						this.formData.email.length > 0
					) {
						this.formErrors.email = this.$t(
							'contact.formErrors.invalidEmail'
						);
					} else {
						this.formErrors.email = this.$t(
							'contact.formErrors.emailRequired'
						);
					}
				}
				if (this.formErrors?.message) {
					this.formErrors.message = this.$t(
						'contact.formErrors.messageRequired'
					);
				}
			}
		},
	},
	methods: {
		submitForm() {
			this.validateForm();

			if (Object.keys(this.formErrors).length === 0) {
				this.loading = true;

				const contact = {
					_type: 'contact',
					name: this.formData.name,
					email: this.formData.email,
					message: this.formData.message,
				};

				client
					.create(contact)
					.then(() => {
						this.loading = false;
						this.isFormSubmitted = true;
					})
					.catch((err) => {
						console.log(err);
					});
			}
		},
		validateForm() {
			this.formErrors = {};
			if (!this.formData.name) {
				this.formErrors = Object.assign({}, this.formErrors, {
					name: this.$t('contact.formErrors.nameRequired'),
				});
			}
			if (!this.formData.email) {
				this.formErrors = Object.assign({}, this.formErrors, {
					email: this.$t('contact.formErrors.emailRequired'),
				});
			} else if (!this.isValidEmail(this.formData.email)) {
				this.formErrors = Object.assign({}, this.formErrors, {
					email: this.$t('contact.formErrors.invalidEmail'),
				});
			}
			if (!this.formData.message) {
				this.formErrors = Object.assign({}, this.formErrors, {
					message: this.$t('contact.formErrors.messageRequired'),
				});
			}
		},
		isValidEmail(email) {
			const emailRegex = /\S+@\S+\.\S+/;
			return emailRegex.test(email);
		},
		validateField(fieldName, fieldValue) {
			if (!fieldValue) {
				this.formErrors[fieldName] = this.$t(
					`contact.formErrors.${fieldName}Required`
				);
			} else if (
				fieldName === 'email' &&
				!this.isValidEmail(fieldValue)
			) {
				this.formErrors.email = this.$t(
					'contact.formErrors.invalidEmail'
				);
			} else {
				delete this.formErrors[fieldName];
			}
		},
	},
};
</script>

<style lang="scss">
.app__footer {
	flex: 1;
	width: 100%;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.app__footer-cards {
	//width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	margin: 4em 2rem 2rem;
	margin-left: auto;
	margin-right: auto;
	gap: 1rem;

	.app__footer-card {
		min-width: 290px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;

		margin: 1rem 0;
		padding: 1rem;
		border-radius: 10px;
		cursor: pointer;
		background-color: #fef4f5;

		transition: all 0.3s ease-in-out;

		img {
			width: 40px;
			height: 40px;
			margin: 0 0.7rem;
		}

		p {
			font-weight: 500;
		}
		a {
			text-decoration: none;
			font-weight: 500;
		}
		&:hover {
			box-shadow: 0 0 25px #fef4f5;
		}

		@media screen and (max-width: 450px) {
			width: 100%;
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.app__footer-cards .app__footer-card:last-child {
	background-color: #f2f7fb;
}

.app__footer-cards .app__footer-card:last-child:hover {
	box-shadow: 0 0 25px #f2f7fb;
}

// .app__footer-card:first-child {
//   padding-right: 2rem;
// }

// .app__footer-card:last-child {
//   margin-left: 2rem;
// }

.app__footer-form {
	width: 60%;
	flex-direction: column;
	margin: 1rem 2rem;
	margin-left: auto;
	margin-right: auto;

	div {
		width: 100%;

		margin: 0.75rem 0;
		border-radius: 10px;
		cursor: pointer;
		background-color: var(--primary-color);

		transition: all 0.3s ease-in-out;

		input,
		textarea {
			width: 100%;
			padding: 0.95rem;
			border: none;
			border-radius: 7px;

			font-family: var(--font-base);
			color: var(--secondary-color);
			outline: none;
		}

		textarea {
			height: 170px;
		}

		&:hover {
			box-shadow: 0 0 25px var(--primary-color);
		}
	}

	button {
		padding: 1rem 2rem;
		border-radius: 10px;
		border: none;
		background-color: var(--secondary-color);

		font-weight: 500;
		color: var(--white-color);
		outline: none;
		margin: 2rem 0 0 0;
		font-family: var(--font-base);

		transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
		cursor: pointer;

		&:hover {
			background-color: #2430af;
		}
	}

	@media screen and (max-width: 768px) {
		width: 100%;
		margin: 1rem 0;
	}
}

button.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.error-message {
	color: #cc0000;
}
</style>
