<template>
	<div>
		<div v-if="testimonialsData.length">
			<div>
				<div class="app__testimonial-item app__flex">
					<img
						:src="
							getImageUrl(testimonialsData[currentIndex].imgurl)
						"
						:alt="testimonialsData[currentIndex].name"
					/>
					<div class="app__testimonial-content">
						<p class="p-text">
							{{ feedBack(testimonialsData[currentIndex].id) }}
						</p>
						<div>
							<h4 class="bold-text">
								{{ testimonialsData[currentIndex].name }}
							</h4>
							<h5 class="p-text">
								{{ testimonialsData[currentIndex].company }}
							</h5>
						</div>
					</div>
				</div>

				<div class="app__testimonial-btns app__flex">
					<div
						class="app__flex"
						@click="
							() =>
								handleClick(
									currentIndex === 0
										? testimonialsData.length - 1
										: currentIndex - 1
								)
						"
					>
						<font-awesome-icon :icon="['fas', 'chevron-left']" />
					</div>

					<div
						class="app__flex"
						@click="
							handleClick(
								(currentIndex + 1) % testimonialsData.length
							)
						"
					>
						<font-awesome-icon :icon="['fas', 'chevron-right']" />
					</div>
				</div>
			</div>
		</div>

		<div class="app__testimonial-brands app__flex">
			<div v-for="brand in brandsData" :key="brand._id">
				<div
					v-motion
					:initial="{ opacity: 0 }"
					:enter="{
						opacity: 1,
						transition: { duration: 1200, type: 'tween' },
					}"
				>
					<img :src="getImageUrl(brand.imgUrl)" :alt="brand.name" />
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { client } from '../../client';
import utils from '../../services/utils';

export default {
	name: 'testimonials-comp',
	data() {
		return {
			testimonialsData: { type: Array, require: true },
			brandsData: { type: Array, require: true },
			currentIndex: 0,
		};
	},
	computed: {
		feedBack() {
			return (id) => {
				const testimonials =
					this.$i18n.messages[this.$i18n.locale].testimonials.list;
				const testimonial = testimonials.find((item) => item.id === id);
				return testimonial ? testimonial.feedback : '';
			};
		},
	},
	async beforeMount() {
		await this.fetchTestimonials();
		await this.fetchBrands();
	},
	methods: {
		async fetchTestimonials() {
			let response = client.fetch('*[_type == "testimonials"]');
			let data = await response;
			this.testimonialsData = data;
		},
		async fetchBrands() {
			let response = client.fetch('*[_type == "brands"]');
			let data = await response;
			this.brandsData = data;
		},
		getImageUrl(imgObj) {
			return utils.getImageUrl(imgObj);
		},
		handleClick(index) {
			this.currentIndex = index;
		},
	},
};
</script>

<style lang="scss">
.app__testimonial {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__testimonial-item {
	width: 60%;
	min-height: 320px;
	background-color: var(--white-color);
	display: flex;
	flex-direction: row;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

	transition: all 0.3s ease-in-out;

	margin-left: auto;
	margin-right: auto;

	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		object-fit: cover;
	}

	@media screen and (min-width: 2000px) {
		min-height: 450px;

		img {
			width: 150px;
			height: 150px;
		}
	}

	@media screen and (max-width: 850px) {
		width: 100%;
	}

	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
}

.app__testimonial-content {
	flex: 1;
	height: 100%;
	padding: 0 2rem;
	text-align: left;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

	p {
		font-size: 1.25rem;
		line-height: 2rem;
		color: var(--black-color);
		font-family: var(--font-base);

		@media screen and (min-width: 2000px) {
			font-size: 2rem;
			line-height: 3.5rem;
		}
	}

	h4 {
		font-weight: 600;
		color: var(--secondary-color);
		margin-top: 2rem;
	}

	h5 {
		font-weight: 400;
		color: var(--gray-color);
		margin-top: 5px;
	}

	@media screen and (max-width: 600px) {
		margin-top: 2rem;
		padding: 0;
	}
}

.app__testimonial-btns {
	flex-direction: row;
	margin-top: 1rem;

	div {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: var(--white-color);

		margin: 1rem;
		transition: all 0.3s ease-in-out;

		svg {
			width: 20px;
			height: 20px;
			color: var(--secondary-color);
		}

		&:hover {
			background-color: var(--secondary-color);

			svg {
				color: var(--white-color);
			}
		}

		@media screen and (min-width: 2000px) {
			width: 100px;
			height: 100px;

			svg {
				width: 45px;
				height: 45px;
			}
		}
	}
}

.app__testimonial-brands {
	width: 80%;
	flex-wrap: wrap;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;

	div {
		width: 150px;
		margin: 1.5rem;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
			filter: grayscale(1);
		}

		&:hover {
			img {
				filter: grayscale(0);
			}
		}

		@media screen and (min-width: 2000px) {
			width: 210px;
			margin: 2rem;
		}

		@media screen and (max-width: 450px) {
			width: 120px;
			margin: 1rem;
		}
	}

	@media screen and (max-width: 800px) {
		width: 100%;
	}
}
</style>
