<template>
	<div class="app__navigation">
		<a
			v-for="(item, index) in [
				'home',
				'about',
				'work',
				'skills',
				'testimonial',
				'contact',
			]"
			:key="item + index"
			:href="`#${item}`"
			class="app__navigation-dot"
			:style="{ backgroundColor: active === item ? '#313BAC' : '' }"
		></a>
	</div>
</template>

<script>
export default {
	// eslint-disable-next-line vue/require-prop-types
	props: ['active'],
};
</script>
