<template>
	<div class="app__social">
		<div @click="redirectTo('gitlab')">
			<font-awesome-icon :icon="['fab', 'gitlab']" />
		</div>
		<div @click="redirectTo('github')">
			<font-awesome-icon :icon="['fab', 'github']" />
		</div>
		<div @click="redirectTo('linkedin')">
			<font-awesome-icon :icon="['fab', 'linkedin']" />
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		redirectTo(type) {
			switch (type) {
				case 'linkedin':
					window.open(
						'https://www.linkedin.com/in/abdietou-doucouré-11a7a8bb/',
						'_blank'
					);
					break;
				case 'github':
					window.open('https://github.com/Abdietou', '_blank');
					break;
				case 'gitlab':
					window.open('https://gitlab.com/adoucour', '_blank');
					break;
				default:
					break;
			}
		},
	},
};
</script>
