<template>
	<div>
		<h2 class="head-text">
			<span>{{ $t('work.title') }}</span>
		</h2>

		<div class="app__work-filter">
			<div v-for="(item, index) in workStack" :key="index">
				<div
					:class="[
						'app__work-filter-item',
						'app__flex',
						'p-text',
						{ 'item-active': activeFilter === item },
					]"
					@click="setActiveFilter(item)"
				>
					{{ item }}
				</div>
			</div>
		</div>

		<div
			v-motion
			:initial="{ y: 0, opacity: 1 }"
			:enter="{ transition: { duration: 1500 } }"
			class="app__work-portfolio"
		>
			<div v-for="(works, index) in worksItem" :key="index">
				<div
					v-if="handleWorkFilter(works)"
					class="app__work-item app__flex"
				>
					<div class="app__work-img app__flex">
						<img
							:src="getImageUrl(works.imgUrl)"
							:alt="works.title"
						/>

						<div class="app__work-hover app__flex">
							<a
								v-if="works.projectLink"
								:href="`${works.projectLink}`"
								target="_blank"
								rel="noreferrer"
							>
								<div
									v-motion
									:enter="{
										scale: 1,
										transition: { duration: 1200 },
									}"
									:hovered="{ scale: 0.9 }"
									class="app__flex"
								>
									<font-awesome-icon icon="eye" />
								</div>
							</a>
							<a
								v-if="works.codeLink"
								:href="`${works.codeLink}`"
								target="_blank"
								rel="noreferrer"
							>
								<div
									v-motion
									:enter="{
										scale: 1,
										transition: { duration: 1200 },
									}"
									:hovered="{ scale: 0.9 }"
									class="app__flex"
								>
									<font-awesome-icon
										v-if="displayGitHubIcon(works.codeLink)"
										:icon="['fab', 'github']"
									/>
									<font-awesome-icon
										v-else
										:icon="['fab', 'gitlab']"
									/>
								</div>
							</a>
						</div>
					</div>

					<div class="app__work-content app__flex">
						<h4 class="bold-text">{{ works.title }}</h4>
						<p class="p-text" style="margin-top: 10px">
							{{ works.description }}
						</p>
						<div class="app__work-tag app__flex">
							<p class="p-text">{{ works.tags[0] }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { client } from '../../client';
import utils from '../../services/utils';

export default {
	name: 'work-comp',
	data() {
		return {
			worksData: { type: Array, require: true },
			activeFilter: { type: String, require: true },
		};
	},
	computed: {
		workStack() {
			return Object.values(
				this.$i18n.messages[this.$i18n.locale].work.stack
			);
		},
		worksItem() {
			return Object.values(
				this.$i18n.messages[this.$i18n.locale].work.data
			);
		},
	},
	watch: {
		'$i18n.locale'(newVal, oldVal) {
			if (newVal !== oldVal) {
				this.setEquivalentsFilter();
			}
		},
	},
	mounted() {
		this.activeFilter = this.defaultFilter(this.$i18n.locale);
	},
	async beforeMount() {
		await this.fetchData();

		utils.addImgUrl(this.$i18n.messages.fr.work.data, this.worksData);
		utils.addImgUrl(this.$i18n.messages.en.work.data, this.worksData);

		this.addElements(this.$i18n.messages.fr.work.data);
		this.addElements(this.$i18n.messages.en.work.data);
	},
	methods: {
		setActiveFilter(name) {
			this.activeFilter = name;
		},
		async fetchData() {
			let response = client.fetch('*[_type == "works"]');
			let data = await response;
			this.worksData = data;
		},
		getImageUrl(imgObj) {
			return utils.getImageUrl(imgObj);
		},
		defaultFilter(lang) {
			return lang === 'en' ? 'All' : 'Tout';
		},
		setEquivalentsFilter() {
			const equivalents = {
				'Application Web': 'Web App',
				'Web App': 'Application Web',
				'Application Mobile': 'Mobile App',
				'Mobile App': 'Application Mobile',
				'Vue JS': 'Vue JS',
				'UI/UX': 'UI/UX',
				'Tout': 'All',
				'All': 'Tout',
			};

			let selectedElement = this.activeFilter;

			this.activeFilter = equivalents[selectedElement];
		},
		addElements(data) {
			data.forEach((element) => {
				let data = this.worksData.find(
					(work) => work.id === element.id
				);
				if (data) {
					element.projectLink = data.projectLink;
					element.codeLink = data.codeLink;
					element.tags = data.tags;
				}
			});
		},
		handleWorkFilter(item) {
			return item?.tags?.includes(this.activeFilter);
		},
		displayGitHubIcon(url) {
			return url.includes('github');
		},
	},
};
</script>

<style lang="scss">
.app__works {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__work-filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	margin: 4rem 0 2rem;

	.app__work-filter-item {
		padding: 0.5rem 1rem;
		border-radius: 0.5rem;
		background-color: #fff;
		color: #000;
		font-weight: 800;

		cursor: pointer;
		transition: all 0.3s ease;
		margin: 0.5rem;

		&:hover {
			background-color: var(--secondary-color);
			color: #fff;
		}

		@media screen and (min-width: 2000px) {
			padding: 1rem 2rem;
			border-radius: 0.85rem;
		}
	}

	.item-active {
		background-color: var(--secondary-color);
		color: #fff;
	}
}

.app__work-portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.app__work-item {
		width: 270px;
		flex-direction: column;

		margin: 2rem;
		padding: 1rem;
		border-radius: 0.5rem;
		background-color: #fff;
		color: #000;

		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
		}

		@media screen and (min-width: 2000px) {
			width: 470px;
			padding: 1.25rem;
			border-radius: 0.75rem;
		}

		@media screen and (max-width: 300px) {
			width: 100%;
			margin: 1rem;
		}
	}
}

.app__work-img {
	width: 100%;
	height: 230px;

	position: relative;

	img {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		object-fit: cover;
	}

	@media screen and (min-width: 2000px) {
		height: 350px;
	}
}

.app__work-hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);

	border-radius: 0.5rem;
	opacity: 0;
	transition: all 0.3s ease;

	&:hover {
		opacity: 1;
		transition: opacity 1.25s ease-in-out;
	}

	div {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;

		margin: 1rem;
		font-family: var(--font-base);
		font-weight: 800;
		cursor: pointer;
		transition: all 0.3s ease;

		svg {
			width: 50%;
			height: 50%;
			color: var(--white-color);
		}
	}
}

.app__work-content {
	padding: 0.5rem;
	width: 100%;
	position: relative;
	flex-direction: column;

	h4 {
		margin-top: 1rem;
		line-height: 1.5;

		@media screen and (min-width: 2000px) {
			margin-top: 3rem;
		}
	}

	.app__work-tag {
		position: absolute;

		padding: 0.5rem 1rem;
		border-radius: 10px;
		background-color: #fff;
		top: -25px;
	}
}
</style>
