<template>
	<nav class="app__navbar">
		<div class="app__navbar-logo">
			<img :src="images?.logoCopy" alt="logo" />
		</div>
		<ul class="app__navbar-links">
			<li
				v-for="(item, index) in navItem"
				:key="index"
				class="app__flex p-text"
			>
				<div />
				<a :href="`#${item}`">{{ item }}</a>
			</li>
		</ul>

		<div class="app__navbar-menu">
			<font-awesome-icon icon="bars" @click="setToogle(true)" />
			<div
				v-if="toogle"
				v-motion
				:initial="{ x: 300 }"
				:enter="{
					x: 0,
					transition: { duration: 0.85, ease: 'easeOut' },
				}"
			>
				<font-awesome-icon icon="x" @click="setToogle(false)" />
				<ul>
					<li v-for="(item, index) in navItem" :key="index">
						<a href="#" @click="setToogle(false)">{{ item }}</a>
					</li>
					<li>
						<p>{{ $t('languages.title') }}</p>
					</li>
					<ul>
						<li
							v-for="locale in $i18n.availableLocales"
							:key="`locale-${locale}`"
							:value="locale"
							class="app__navbar-language-choice"
						>
							<p
								v-if="locale === 'fr'"
								:style="[
									$i18n.locale === 'fr'
										? { color: '#313bac' }
										: '',
								]"
								@click="changeLanguage(locale)"
							>
								Français
							</p>
							<p
								v-else
								:style="[
									$i18n.locale === 'en'
										? { color: '#313bac' }
										: '',
								]"
								@click="changeLanguage(locale)"
							>
								English
							</p>
						</li>
					</ul>
				</ul>
			</div>
		</div>

		<div class="app__navbar-language">
			<span class="en">English</span>&nbsp;
			<input
				v-model="languageDefault"
				type="checkbox"
				class="check"
				@change="choiceLanguage($event.target.checked)"
			/>
			&nbsp;<span class="fr">Français</span>
		</div>
	</nav>
</template>

<script>
import { images } from '../../constants';
import { useState } from '../../composables/state';

export default {
	data() {
		const [toogle, setToogle] = useState(false);
		return {
			images: images,
			toogle,
			setToogle,
			languageDefault: { type: Boolean, require: true },
		};
	},
	computed: {
		navItem() {
			let locale = this.$i18n.locale;
			return Object.values(this.$i18n.messages[locale].navbar);
		},
	},
	created() {
		this.languageDefault = this.$i18n.locale === 'fr' ? true : false;
	},
	methods: {
		changeLanguage(lang) {
			this.$i18n.locale = lang;
			localStorage.setItem('lang', this.$i18n.locale);
			this.languageDefault = lang === 'fr' ? true : false;
		},
		choiceLanguage(value) {
			let lang = value ? 'fr' : 'en';
			this.changeLanguage(lang);
		},
	},
};
</script>

<style lang="scss">
.app__navbar {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1rem 2rem;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	position: fixed;
	z-index: 2;
}

.app__navbar-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	img {
		width: 90px;
		height: 20px;

		@media screen and (min-width: 2000px) {
			width: 180px;
			height: 40px;
		}
	}
}

.app__navbar-links {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	list-style: none;

	li {
		margin: 0 1rem;
		cursor: pointer;

		flex-direction: column;

		div {
			width: 5px;
			height: 5px;
			background: transparent;
			border-radius: 50%;

			margin: 5px auto;
		}

		a {
			color: var(--gray-color);
			text-decoration: none;
			flex-direction: column;

			text-transform: uppercase;
			font-weight: 500;

			transition: all 0.3s ease-in-out;

			&:hover {
				color: var(--secondary-color);
			}
		}

		&:hover {
			div {
				background: var(--secondary-color);
			}
		}
	}

	@media screen and (max-width: 900px) {
		display: none;
	}
}

.app__navbar-menu {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);

	svg {
		width: 70%;
		height: 70%;
		color: var(--white-color);
	}

	div {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 5;

		padding: 1rem;

		width: 80%;
		height: 100vh;

		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: column;

		background: url('../../assets/bgWhite.png');
		background-color: var(--white-color);
		background-size: cover;
		background-repeat: repeat;

		/* top box shadow */
		box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

		svg {
			width: 35px;
			height: 35px;
			color: var(--secondary-color);
			margin: 0.5rem 1rem;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;

			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;

			li {
				margin: 1rem;

				a {
					color: var(--gray-color);
					text-decoration: none;
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: 500;

					transition: all 0.3s ease-in-out;

					&:hover {
						color: var(--secondary-color);
					}
				}

				p {
					color: var(--gray-color);
					text-decoration: none;
					font-size: 1rem;
					text-transform: uppercase;
					font-weight: 500;

					transition: all 0.3s ease-in-out;
				}
			}
		}

		@media screen and (min-width: 900px) {
			display: none;
		}
	}

	@media screen and (min-width: 900px) {
		display: none;
	}
}

.app__navbar-language {
	position: relative;
	margin-top: 0.75rem;
	color: #555;

	.en {
		color: #333;
	}

	.fr {
		color: #00a1ff;
	}

	.check {
		position: relative;
		width: 50px;
	}

	.check:before {
		content: '';
		position: absolute;
		width: 50px;
		height: 25px;
		background: #333;
		border-radius: 25px;
	}

	.check:checked:before {
		background: #00a1ff;
	}

	.check:after {
		content: '';
		position: absolute;
		left: 0px;
		width: 25px;
		height: 25px;
		background: #fff;
		border-radius: 25px;
		transition: 0.25s;
		border: 2px solid #333;
		box-sizing: border-box;
	}

	.check:checked:after {
		left: 25px;
		border: 2px solid #00a1ff;
	}
}

@media screen and (max-width: 900px) {
	.app__navbar-language {
		display: none;
	}

	.app__navbar-language-choice {
		margin-top: 0em !important;
		margin-bottom: 0.5em !important;
		line-height: 1.5em;
		padding-left: 1.5em;

		p {
			color: var(--gray-color);
			text-decoration: none;
			font-size: 1rem;
			font-weight: 500;

			transition: all 0.3s ease-in-out;
		}
	}
}
</style>
