<template>
	<div>
		<h2 class="head-text no-capitalization">
			<span>{{ $t('about.title') }}</span>
		</h2>

		<div class="app__profiles">
			<div
				v-for="(abouts, index) in aboutItem"
				:key="abouts.title + index"
			>
				<div
					v-motion
					:enter="{
						scale: 1,
						opacity: 1,
						transition: { duration: 1500, type: 'tween' },
					}"
					:hovered="{ scale: 1.1 }"
					class="app__profile-item"
				>
					<img
						:src="getImageUrl(abouts.imgUrl)"
						:alt="abouts.title"
					/>
					<h2 class="bold-text" style="margin-top: 20px">
						{{ abouts.title }}
					</h2>
					<p class="p-text" style="margin-top: 10px">
						{{ abouts.description }}
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { client } from '../../client';
import utils from '../../services/utils';

export default {
	name: 'about-comp',
	data() {
		return {
			imgData: { type: Array, require: true },
		};
	},
	computed: {
		aboutItem() {
			return Object.values(
				this.$i18n.messages[this.$i18n.locale].about.profile
			);
		},
	},
	async beforeMount() {
		await this.fetchImg();

		utils.addImgUrl(this.$i18n.messages.fr.about.profile, this.imgData);
		utils.addImgUrl(this.$i18n.messages.en.about.profile, this.imgData);
	},
	methods: {
		async fetchImg() {
			let response = client.fetch('*[_type == "abouts"]');
			let data = await response;
			this.imgData = data;
		},
		getImageUrl(imgObj) {
			return utils.getImageUrl(imgObj);
		},
	},
};
</script>

<style lang="scss">
.app__about {
	flex: 1;
	width: 100%;
	flex-direction: column;
}

.app__profiles {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 2rem;
}

.app__profile-item {
	width: 190px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 2rem;

	img {
		width: 100%;
		height: 170px;
		border-radius: 15px;
		object-fit: cover;
	}

	@media screen and (min-width: 2000px) {
		width: 370px;
		margin: 2rem 4rem;
		img {
			height: 320px;
		}
	}
}
</style>
